---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  name: string;
  description: string;
  logo: ImageMetadata;
  sourceUrl: string;
  liveUrl: string | null;
}

const { name, description, logo, sourceUrl, liveUrl } = Astro.props;
---

<div
  class="flex flex-col gap-2 border border-slate-800 rounded-md bg-slate-900 px-6 pb-3 pt-4"
>
  <div class="flex items-center gap-3">
    <Image src={logo} alt={"Project logo of " + name} class="w-5.5" />
    <span class="font-medium sm:text-lg">
      {name}
    </span>
  </div>
  <p class="text-sm text-slate-400 sm:text-base">{description}</p>
  <div class="mt-auto min-h-10 flex items-center justify-between">
    <a
      href={sourceUrl}
      target="_blank"
      rel="noreferrer"
      class="text-sm text-blue-300 underline-offset-4 hover:underline"
    >
      Source code
    </a>
    {
      liveUrl && (
        <a
          href={liveUrl}
          target="_blank"
          rel="noreferrer"
          class="group inline-flex items-center justify-center gap-0.5 border border-slate-600 rounded-md py-2 pl-4 pr-3 text-sm font-medium transition-colors hover:bg-slate-800"
        >
          Live
          <span class="i-lucide-chevron-right text-base transition-transform group-hover:translate-x-0.5" />
        </a>
      )
    }
  </div>
</div>
