---
import Footer from "@/components/footer.astro";
import Header from "@/components/header";
import "@fontsource-variable/inter";

interface Props {
  title?: string;
  description?: string;
}

const {
  title: subtitle,
  description = "Chinese student. Full-stack developer. Tech enthusiast. He/him.",
} = Astro.props;

const title = subtitle ? subtitle + " | Yuwang Cai" : "Yuwang Cai";
const url = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={url} />
    <meta name="author" content="Yuwang Cai" />
    <meta name="description" content={description} />
    <meta name="generator" content="Astro" />
    <meta name="keywords" content="yuwang cai, homepage, full-stack" />
    <meta name="theme-color" content="#030712" />
    <meta name="color-scheme" content="dark" />
    <meta name="creator" content="Yuwang Cai" />
    <meta name="publisher" content="Yuwang Cai" />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content={title} />
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Yuwang" />
    <meta property="profile:last_name" content="Cai" />
    <meta property="profile:username" content="mrcaidev" />
    <meta property="profile:gender" content="male" />
    <meta property="og:image" content={new URL("/og-image.png", Astro.site)} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Logo" />
    <meta property="og:url" content={url} />
    <meta property="og:description" content={description} />

    <meta name="twitter:site" content="@mrcaidev" />
    <meta name="twitter:creator" content="@mrcaidev" />
  </head>

  <body
    class="bg-gray-950 font-sans text-gray-200 antialiased scrollbar scrollbar-rounded scrollbar-track-color-transparent scrollbar-thumb-color-gray-800"
  >
    <Header />
    <main class="grid min-h-screen px-8 py-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
