---
import { ChevronRight } from "preact-feather";

export interface Props {
  url: string;
  title: string;
  description: string;
  publishedAt: string;
  readingTime: string;
}

const { url, title, description, publishedAt, readingTime } = Astro.props;
const publishedTime = new Date(publishedAt).toISOString();
---

<div
  class="group relative p-6 rounded-xl space-y-3 hover:bg-slate-200 dark:hover:bg-slate-800"
>
  <time
    datetime={publishedTime}
    class="relative text-slate-600 dark:text-slate-400"
  >
    <span
      aria-hidden="true"
      class="hidden sm:block absolute top-[1px] -left-[49px] w-4 h-4 border-2 border-sky-800 dark:border-sky-200 bg-slate-100 dark:bg-slate-900 group-hover:bg-sky-800 dark:group-hover:bg-sky-200 rounded-full"
    ></span>
    {publishedAt}</time
  >
  <h2 class="font-bold text-2xl">{title}</h2>
  <p class="text-slate-600 dark:text-slate-400 line-clamp-3">{description}</p>
  <div class="flex justify-between">
    <small class="text-base">{readingTime}</small>
    <a href={url} class="hover:text-sky-800 dark:hover:text-sky-200"
      >Read post
      <ChevronRight size={18} class="inline -translate-y-[1px]" />
      <span aria-hidden="true" class="absolute top-0 left-0 right-0 bottom-0"
      ></span>
    </a>
  </div>
</div>
