---
import Link from "icons/link.astro";
import type { Friend } from "./data";

export type Props = Friend;
const { title, description, url, image } = Astro.props;

const domain = new URL(url).hostname;
---

<div
  class="flex flex-col sm:flex-row justify-center sm:justify-start items-center gap-x-8 gap-y-4 relative p-6 rounded-lg hover:bg-graydark-4 active:bg-graydark-5 transition-colors"
>
  <img
    src={image}
    alt={"Avatar of " + title}
    width="96"
    height="96"
    loading="lazy"
    class="w-24 h-24 rounded-full"
  />
  <div class="flex flex-col items-center sm:items-start gap-1 text-center">
    <h3 class="font-medium text-lg sm:text-xl">{title}</h3>
    <p class="text-sm sm:text-base">{description}</p>
    <a
      href={url}
      target="_blank"
      class="flex items-center gap-1 sm:gap-2 text-sm sm:text-base text-graydark-11 hover:text-cyandark-11 transition-colors"
    >
      <Link size={14} />
      {domain}
      <span class="absolute top-0 bottom-0 left-0 right-0"></span>
    </a>
  </div>
</div>
